.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet div button {
  background-color: rgb(62, 62, 192);
  font-family: 'Bungee', 'sans-serif';
  color: white;
  padding: 10px;
  border: 2px solid #545149;
  border-radius: 15px;
  outline: none;
}

.new-tweet div button:focus {
  background-color: peachpuff;
  color: rgb(62, 62, 192);
  outline: none;
}

.new-tweet textarea {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #545149;
  resize: none;
  width: 88vw;
  outline: none;
}

@media only screen and (min-width: 1024px) {
  .new-tweet textarea {
    width: 45vw;
    justify-self: right;
    margin-top: 90px;
  }
}

.new-tweet textarea:focus {
  background-color: #f0f0f0;
}

.new-tweet output {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Source Sans Pro', 'sans-serif';
}

#error {
  color: red;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-top: 8px;
  justify-self: center;
}